body {
  background-color: black;
  color: white;
}

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

table{
 box-sizing: border-box; 
}

div.caption {
  font-family: "Sawarabi Mincho", sans-serif;
  text-align: center;
}

#defaultCanvas0 {
  position: fixed;
  top: 0;
}

a {
  color: deepskyblue;
}
